<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<header th:replace="partials/partials.html :: header"></header>
<nav th:replace="partials/partials.html :: navbar"></nav>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}"><br>
    Body:
    <input th:field="*{body}"><br>
    <input type=submit />
</form>
<footer th:fragment="footer" style="background-color: gray; width: 100%; height: 100px;">FOOTER</footer>
</body>
</html>